.heroContainer {
    width: 100%;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("/img/bg2.jpg");
    background-size: cover;
    background-position: center -90%;
    padding-top: 200px;
}

.textContainer {
    width: 100%;
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
}

.titleText {
    font-size: 96px;
    color: var(--color6);
}

.subtitleText {
    color: var(--color6);
}

.heroCall {
    text-decoration: none;
}