.heroContainer {
    width: 100%;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("/img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
}

.textContainer {
    width: 100%;
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
}

.titleText {
    font-size: 96px;
    background: #A7CFDF;
    background: linear-gradient(to right, #A7CFDF 0%, #23538A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.subtitleText {
    font-size: 30px;
    color: var(--color6);
    background: #A7CFDF;
    background: linear-gradient(to right, #A7CFDF 0%, #23538A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heroCall {
    text-decoration: none;
}