/* Custom Styles for Tuning Page */

#tuning {
    background-image: url(/img/carbon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 0;
}

.accordion-button {
    font-weight: bold;
    background-color: #e9ecef;
    /* Light gray background for accordion headers */
}

.accordion-body {
    background-color: #fff;
    /* White background for accordion content */
}

.table {
    margin-bottom: 0;
    /* Remove default margin for tables */
}

.img-fluid {
    border-radius: 10px;
    /* Rounded corners for images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add shadow to images */
}

.tuneTwo {
    padding-top: 20px;
}

.lead,
h2 {
    color: var(--color6);
}

.tuningTitle {
    font-size: 3rem;
}