:root {
    --color1: #61605f;
    --color2: #f55854;
    --color3: #c5c5c5;
    --color4: #020202;
    --color5: #ffffffcb;
    --color6: #ffffff;
    --color7: #ccecff;
    --color8: #686A6C;
    --neon-color: #00f3ff;
    --color9: #00f3ff;
    --text-color: #fff;
    --accent-color: #00f3ff;
    --color10: #007bff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    font-family: "Roboto", sans-serif !important;
}

body {
    display: flex;
    background:
        url(/img/carbon.jpg) center/cover no-repeat fixed,
        linear-gradient(rgba(2, 2, 2, 0.7), rgba(2, 2, 2, 0.7));
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--color6);
    font-family: "Roboto", sans-serif !important;
}