#why-us {
    background-color: rgba(2, 2, 2, 0);
    backdrop-filter: blur(2px);
}

.why-us-card {
    background-color: var(--color6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.card-content {
    min-height: 310px;
}

.cardIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}


.why-us-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 5px #fff,
        0 0 50px rgba(0, 204, 255, 0.8),
        0 0 35px rgba(0, 119, 255, 0.6);

}

/* Imagini */
.img-fluid {
    border-radius: 10px;
    /* Colțuri rotunjite pentru imagini */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Umbră subtilă */
}

.whyTitle {
    font-size: 3rem;
}