:root {
    --color1: #444444;
    --color2: #f55854;
    --color3: #c5c5c5;
    --color4: #000000;
    --color5: #ffffffcb;
    --color6: #ffffff;
    --color7: #ccecff;
    --color8: #686A6C;
    --color9: #00f3ff;
    --text-color: #fff;
    --grad: linear-gradient(to right, #A7CFDF 0%, #23538A 100%);
    --hover: #A7CFDF;
    --color10: #007bff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    font-family: "Roboto", sans-serif !important;
}

body {
    display: flex;
    background:
        url(/img/leather.png) center/cover no-repeat fixed,
        linear-gradient(rgba(2, 2, 2, 0.7), rgba(2, 2, 2, 0.7));
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--color6);
    font-family: "Roboto", sans-serif !important;
}

.container-fluid {
    --bs-gutter-x: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/* Hide mobile version by default */
.detailing-mobile {
    display: none;
}

/* Hide desktop version on mobile */
.detailing-desktop {
    display: block;
}

/* Show mobile version and hide desktop on small screens */
@media (max-width: 768px) {
    .detailing-mobile {
        display: block;
    }

    .detailing-desktop {
        display: none;
    }
}

/* Make the entire screen a loading screen */
.loader-screen {
    position: fixed;
    /* Fix to the whole screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure it's on top of other content */
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color10);
    position: relative;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: #fff;
    transform: rotate(0deg) translate(30px);
    animation: rotate 1s ease infinite;
}

.loader:after {
    animation-delay: 0.5s;
}


@keyframes rotate {
    100% {
        transform: rotate(360deg) translate(30px);
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}